name: PR Title Check

on:
  pull_request:
    types: [opened, reopened, edited, synchronize]
    branches:
      - main
  merge_group:

jobs:
  check-title:
    runs-on: ubuntu-latest

    steps:
      - uses: edp5/edp5-actions/pr-title-check@v1.1.3
